div {
  line-height: 1.75em;
}

#Slider .slider-content h1.slider-title {
  color: #fff;
  letter-spacing: 0;
  line-height: 1.2em;
  font-weight: 500;
}


.container .vertical-center{
 color: #fff;
 background: #1f94e6;
 padding: 12px 48px;
 border-radius: 4px;
 font-size: 18px;
 display: inline-flexbox;
}

button {
  text-decoration: none;
  font-family: 'Work Sans', sans-serif !important;
  font-weight: 500;
}

img {
  display: flex;
  height: 50%;
  width: 50%;
}


