<h1>{{entries?.title}}</h1>
<div id="slider">
  <div class="slider-content">
    <h2 class="slider title">{{entries?.header}}</h2>
  </div>
  <div>
    <p class="description_1">{{entries?.description_1}}</p>
  </div>
</div>
<div class="container">
  <div class="vertical-center">
    <button mat-button color="primary" routerLink="/solutions">See All Solutions</button>
  </div>
</div>
<div class="slider-content">
  <h2 class="slider title">{{entries?.header_2}}</h2>
</div>
<div>
  <p class="description_1">{{entries?.description_2}}</p>
</div>
<div>
  <mat-card>
    <mat-card-title>{{entries?.page_components[0]?.digital_now?.title}}</mat-card-title>
    <mat-card-content>{{entries?.page_components[0]?.digital_now?.paragraph}}</mat-card-content>
    <picture>
      <source media='(min-width:0px)' srcset='{{entries?.page_components[0]?.digital_now?.digital_now_images[0]?.url}}'>
      <img mat-card-image src="" alt='Digital Now'>
    </picture>
    <mat-card-actions>
      <button md-button>Explore The Digital Now Suite</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>{{entries?.page_components[1]?.exela_smart_office?.title}}</mat-card-title>
    <mat-card-content>{{entries?.page_components[1]?.exela_smart_office?.paragraph}}</mat-card-content>
    <picture>
      <source media='(min-width:0px)' srcset="{{entries?.page_components[1]?.exela_smart_office?.smart_office_images[0].url}}">
      <img mat-card-image src="" alt="Smart Office Exela">
    </picture>
    <mat-card-actions>
      <button md-button>Explore The Exela Smart Office Suite</button>
    </mat-card-actions>
  </mat-card>
</div>

<router-outlet></router-outlet>
